<footer>
    <div class="container mx-auto">
        <h2>Gergana Legagneux</h2>
    </div>
    <div class="container mx-auto">
        <a href="/credits-photo">Crédits photo</a>
    </div>
</footer>
<script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Physician",
    "name": "Gergana Legagneux",
    "url": "https://gl-psychologue.fr/",
    "description": "Psychologue clinicienne",
    "telephone": "+330768403828",
    "image": "",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "1 rue Edmond de Coussemaker",
        "addressLocality": "Bailleul",
        "postalCode": "59270",
        "addressCountry": "France"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": "50.7383156",
        "longitude": "2.7362095999999383"
    }
}</script>
