{{ define "main" }}
<div class="container mx-auto">
    <div class="flex-wrap flex">
        <main class="lg:w-3/4 w-full">
            <header>
                <h1 class="border-l-8 border-teal my-6 pl-4 text-5xl">Psychologue à Bailleul</h1>
                <p class="mb-4 leading-normal">&Agrave; la suite d'un cheminement personnel, au cours de différents moments de sa vie,
                    lorsqu'on ressent des difficultés ou que l'on est dans une situation de crise, rencontrer un psychologue peut venir
                    en aide aux enfants, adolescents, adultes et couples.</p>
                <p class="mb-4 leading-normal">On consulte un psychologue dans de multiples situations : pour un mal-être donc les
                    causes sont parfois clairement identifiées, d'autres fois plus floues. La plupart du temps, un accompagnement
                    psychologique de soutien à court terme peut aider à débloquer la situation. Cet accompagnement permet de retrouver
                    un équilibre personnel et/ou familial.</p>
                <p class="mb-4 leading-normal">Parfois, un travail thérapeutique plus long est envisagé. Parler d'un vécu traumatique,
                    autour d'une maladie, de comportements entravant la vie quotidienne et/ou les relations avec les autres, permet,
                    dans la relation avec le thérapeute, de mobiliser ses ressources propres afin d'avancer dans son développement
                    personnel, dans sa relation à l'autre, et à mieux vivre sa vie dans les changements inévitables qu'elle
                    comporte.</p>
                <p class="mb-4 leading-normal">Ce site présente mon travail de psychologue au cabinet de Bailleul.</p>
            </header>
            <section>
                <h2 class="border-l-4 border-teal mt-6 mb-4 pl-4">Pratiques thérapeutiques</h2>
                <div class="flex -mx-2">
                    <div class="w-1/3 px-2">
                        <div class="p-2 shadow">
                            <h3 class="mb-4">Psychothérapies</h3>
                            <p class="mb-4 leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quis dolores
                                quia,
                                hic voluptates nulla dolor enim dolorum doloremque fugiat quod ad illo, commodi sed exercitationem
                                nisi,
                                doloribus quae amet?</p>
                        </div>
                    </div>
                    <div class="w-1/3 px-2">
                        <div class="p-2 shadow">
                            <h3 class="mb-4">Guidance parentale</h3>
                            <p class="mb-4 leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore magni
                                praesentium sequi assumenda cum, animi ratione laudantium, unde quia veniam accusantium itaque neque,
                                alias
                                pariatur accusamus mollitia, ut velit deserunt?</p>
                        </div>
                    </div>
                    <div class="w-1/3 px-2">
                        <div class="p-2 shadow">
                            <h3 class="mb-4">Hypnose & HTSMA</h3>
                            <p class="mb-4 leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus
                                unde voluptatum? Qui, quaerat veniam reprehenderit quos quas, debitis quasi cum sapiente praesentium.
                                Aut
                                aliquam, ea nemo officiis possimus vel.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <aside class="lg:p-3 lg:w-1/4 w-full">
            <div class="flex flex-col items-center justify-center my-6 p-6 shadow-md">
                <h2>Gergana Legagneux, psychologue</h2>
            </div>
            <div class="shadow-md mb-6 p-6 flex flex-col items-center justify-center">
                <svg class="mb-6 h-12 inline-block stroke-purple w-12" xmlns="http://www.w3.org/2000/svg" width="40px"
                     viewBox="0 0 75.1 91.7">
                    <path d="M24.2 2.8L21.4 0l-9.3 9.3L2.8 0 0 2.8l9.3 9.3L0 21.4l2.8 2.8 9.3-9.3 9.3 9.3 2.8-2.8-9.3-9.3 9.3-9.3zm-9.8 22.4H9.9c.2 3.1.7 6 1.6 8.6l4.2-1.4c-.7-2.2-1.1-4.7-1.3-7.2zm19.6 55l-3.3 3c1.9 2.1 4.3 3.9 7.1 5.4l2.1-3.9c-2.4-1.3-4.4-2.8-5.9-4.5zm40.6-17.4c-.6-2.9-1.7-5.7-3.2-8.3l-3.8 2.3c1.3 2.2 2.2 4.5 2.7 6.9l4.3-.9zM37.9 47.3l-.7-4.4c-2.7.4-4.9.6-7.6.5l-.3 4.5c1.6.1 3 .3 8.6-.6zm-19.4-9.6l-3.6 2.7c1.9 2.5 4.3 4.5 7.1 5.8l1.8-4.1c-2-1-3.9-2.5-5.3-4.4zm33.4 8.4l.7-4.4c-2.9-.4-5.9-.3-8.8.1l.6 4.4c2.5-.3 5.1-.4 7.5-.1zm6.6 39.2l1.9 4c2.7-1.3 5.3-3 7.4-4.9l-3-3.3c-1.6 1.5-3.9 3.1-6.3 4.2zm12.1-15.7c-.3 2.5-1 4.8-2.1 6.9l3.9 2.1c1.5-2.6 2.4-5.5 2.7-8.6l-4.5-.4zM45.5 86.8l-1 4.3c2.9.7 5.9.8 8.9.3l-.7-4.4c-2.4.4-4.8.3-7.2-.2zm21.4-38c-2.1-2-4.6-3.7-7.3-4.9l-1.9 4c2.3 1.1 4.4 2.5 6.2 4.1l3-3.2zM28.7 68.6h-4.5c-.1 2.7 1.2 6 2.4 8.5l4-2c-.8-1.8-2-4.5-1.9-6.5z"
                          fill-rule="evenodd" clip-rule="evenodd"/>
                </svg>
                <div>
                    <p class="mb-4">1 rue Edmond de Coussemaker</p>
                    <p>59270 Bailleul</p>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center p-6 shadow-md">
                <svg class="mb-6 h-12 inline-block stroke-purple w-12" xmlns="http://www.w3.org/2000/svg" width="40px"
                     viewBox="0 0 50.8 90">
                    <path d="M42.7 0H8C3.6 0 0 3.6 0 8v74c0 4.4 3.6 8 8 8h34.8c4.4 0 8-3.6 8-8V8c-.1-4.4-3.6-8-8.1-8zM27.5 7c0 2.6-4 2.6-4 0s4-2.6 4 0zm0 75h-4c-2.6 0-2.6-4 0-4h4c1.1 0 2 .9 2 2s-.9 2-2 2zM4 71.7V11.8h42.8v59.9H4z"/>
                </svg>
                <div>
                    <p>07 68 40 38 28</p>
                </div>
            </div>
        </aside>
    </div>
</div>
{{ end }}
